---
import i18next, { t } from "i18next";

const amenities = [
  {
    name: t("ameni.club"),
    description: t("ameni.desc1"),
    image: "/img/Amenidades/Club.jpg",
    icon: "/img/Iconossvg/Hacienda.svg",
  },
  {
    name: t("ameni.bar"),
    description: t("ameni.desc2"),
    image: "/img/Amenidades/Bar.jpg",
    icon: "/img/Iconossvg/Alcohol.svg",
  },
  {
    name: t("ameni.rest"),
    description: t("ameni.desc3"),
    image: "/img/Amenidades/Restaurante.jpg",
    icon: "/img/Iconossvg/Restaurant.svg",
  },
  {
    name: t("ameni.mascot"),
    description: t("ameni.desc4"),
    image: "/img/Amenidades/Mascotas.jpg",
    icon: "/img/Iconossvg/Dog.svg",
  },
  {
    name: t("ameni.golf"),
    description: t("ameni.desc5"),
    image: "/img/Amenidades/CampGolf.jpg",
    icon: "/img/Iconossvg/Golf.svg",
  },
  {
    name: t("ameni.spa"),
    description: t("ameni.desc6"),
    image: "/img/Amenidades/Spa.jpg",
    icon: "/img/Iconossvg/Spa.svg",
  },
  {
    name: t("ameni.pisci"),
    description: t("ameni.desc7"),
    image: "/img/Amenidades/Piscina.jpg",
    icon: "/img/Iconossvg/Piscina.svg",
  },
  {
    name: t("ameni.ciclo"),
    description: t("ameni.desc8"),
    image: "/img/Amenidades/Ciclovia.jpg",
    icon: "/img/Iconossvg/Ciclovia.svg",
  },
  {
    name: t("ameni.padel"),
    description: t("ameni.desc9"),
    image: "/img/Amenidades/Padel.jpg",
    icon: "/img/Iconossvg/Padel.svg",
  },
  {
    name: t("ameni.tennis"),
    description: t("ameni.desc10"),
    image: "/img/Amenidades/Tennis.jpg",
    icon: "/img/Iconossvg/Tennis.svg",
  },
  {
    name: t("ameni.sub"),
    description: t("ameni.desc11"),
    image: "/img/Amenidades/Servicios.jpg",
    icon: "/img/Iconossvg/Servicios.svg",
  },
  {
    name: t("ameni.acceso"),
    description: t("ameni.desc12"),
    image: "/img/Amenidades/Entrada.jpg",
    icon: "/img/Iconossvg/Entrada.svg",
  },
  {
    name: t("ameni.urb"),
    description: t("ameni.desc13"),
    image: "/img/Amenidades/GymUrbano.jpg",
    icon: "/img/Iconossvg/GymUrbano.svg",
  },
  {
    name: t("ameni.capilla"),
    description: t("ameni.desc14"),
    image: "/img/Amenidades/Capilla.jpg",
    icon: "/img/Iconossvg/Capilla.svg",
  },
  {
    name: t("ameni.gym"),
    description: t("ameni.desc15"),
    image: "/img/Amenidades/Gym.jpg",
    icon: "/img/Iconossvg/Gym.svg",
  },
  // ... (resto de las amenidades)
];
---

<div class="bg-white p-6 shadow-md" id="AMENIDADES">
    <h2 id="TituloAmenidades" class="text-4xl font-extrabold text-center text-black mb-8 relative"data-aos="fade-up"data-aos-easing="linear"
    data-aos-duration="500">
      {t("ameni.title")}
      <span class="block w-24 mx-auto mt-4 h-1 bg-gray-200 rounded-full"></span>
    </h2>
  
    <!-- Imagen Grande con Degradado en la Parte Inferior -->
    <div class="w-full flex justify-center mb-4">
      <div class="relative w-full"data-aos="fade-up"data-aos-easing="linear"
      data-aos-duration="500">
        <img id="main-image" src={amenities[0].image} alt="Amenidad seleccionada" class="w-full h-96 object-cover rounded-lg" />
        <div class="absolute bottom-0 left-0 w-full h-1/3 bg-gradient-to-t from-black to-transparent text-white p-4 flex flex-col justify-end rounded-lg">
          <h3 id="image-title" class="text-2xl font-semibold">{amenities[0].name}</h3>
          <p id="image-description" class="mt-2 text-lg">{amenities[0].description}</p>
        </div>
      </div>
    </div>
  
    <!-- Botón para mostrar/ocultar la lista -->
    <button id="toggle-list" class="block w-full py-2 px-4 bg-primary text-white rounded-lg mb-4">
      Mostrar Amenidades
    </button>
  
    <!-- Contenedor de Lista Horizontal -->
    <div class="w-full overflow-x-auto hidden" id="amenities-list">
      <ul class="flex flex-col space-y-4 md:flex-row md:space-x-4 md:space-y-0">
        {amenities.map((amenity) => (
          <li
            class="flex-shrink-0 flex items-center space-x-4 p-2 cursor-pointer rounded-lg hover:bg-gray-100 transition"
            data-image={amenity.image}
            data-name={amenity.name}
            data-description={amenity.description}
          >
            <img src={amenity.icon} alt={amenity.name} class="w-8 h-8" />
            <div>
              <h3 class="text-lg font-semibold">{amenity.name}</h3>
            </div>
          </li>
        ))}
      </ul>
    </div>
  </div>
  
  <!-- Script para cambiar la imagen y mostrar/ocultar la lista -->
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
      const mainImage = document.getElementById('main-image');
      const imageTitle = document.getElementById('image-title');
      const imageDescription = document.getElementById('image-description');
      const listItems = document.querySelectorAll('#amenities-list li');
      const toggleButton = document.getElementById('toggle-list');
      const amenitiesList = document.getElementById('amenities-list');
  
      listItems.forEach(item => {
        item.addEventListener('click', function () {
          const imageSrc = this.getAttribute('data-image');
          const name = this.getAttribute('data-name');
          const description = this.getAttribute('data-description');
          mainImage.src = imageSrc;
          imageTitle.textContent = name;
          imageDescription.textContent = description;
  
          // Cierra la lista después de seleccionar un ítem
          amenitiesList.classList.add('hidden');
          toggleButton.textContent = 'Mostrar Amenidades';
  
          // Hacer scroll hacia la imagen
          window.scrollTo({
            top: document.querySelector('#TituloAmenidades').offsetTop,
            behavior: 'smooth'
          });
        });
      });
  
      toggleButton.addEventListener('click', function () {
        const isHidden = amenitiesList.classList.contains('hidden');
        amenitiesList.classList.toggle('hidden', !isHidden);
        toggleButton.textContent = isHidden ? 'Ocultar Amenidades' : 'Mostrar Amenidades';
      });
    });
  </script>
  
  
